# Coding Homework 2: [put your name here]

At the time it departed from England in April 1912, the RMS Titanic was the largest ship in the world. In the night of April 14th to April 15th, the Titanic struck an iceberg and sank approximately 600km south of Newfoundland (a province in eastern Canada). Many people perished in this accident. Data about the passengers who were on board the Titanic at the time of the accident is available in the "titanic.csv" file.

> TAs will mark this assignment by checking ***MarkUs*** autotests; and, by manually review the written responses to questions `Q7`, `Q8`, `Q10`, and `Q11`.

In [ ]:
# Import/Load Put the "titanic.csv" data

In [ ]:
import pandas as pd
d = pd.read_csv("titanic.csv")

### Q0: How many missing data values are there in the `Age` column
> Hint: Remember `.isnull().sum()`?

In [ ]:
# Q0: your answer will be tested!
Q0 = None # Assign an integer value to Q0
# E.g., Q0 = 1

In [ ]:
# Since many of their values are missing or unclear, 
# modify the `titanic` data frame by removing the following variables: 
# `Ticket_No`, `Boat_or_Body`, `Class_Dept`, `Class_Full`.

# Hint 1: https://letmegooglethat.com/?q=how+to+remove+columns+from+a+pandas+data+frame  
# Hint 2: ` is different than "
# Hint 3: use `inplace=True`

### Q1: What is the dimension of the titantic data set after removing the four columns above?
> Hint: Remember the `.shape` attribute?

In [ ]:
# Q1: your answer will be tested!
Q1 = (None,None) # Assign a `tuple` of two integers to Q1
# e.g., (1,2) for 1 row and 2 columns

- The variable `Adut_or_Chld` indicates which passengers were adults and which were children. Change the name of this variable to `Adult_or_Child`. 
- `MWC` is a little more specific, recording whether the passenger was a man, woman or child. To make this variable name clearer, change the name of `MWC` to `Man_Woman_or_Child`.

In [ ]:
# Hint 1: https://letmegooglethat.com/?q=how+to+rename+pandas+columns
# Hint 2: use `inplace=True`

### Q2 What is the data type of the following object?

```python
{'Adut_or_Chld':'Adult_or_Child', 'MWC':'Man_Woman_or_Child'}
```

A. `dict`  
B. `list`  
C. `tuple`  
D. `str`

In [ ]:
# Q2: your answer will be tested!
Q2 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q2` instead of `None`
# E.g., Q1 = 'A'

### Q3: How many passengers were there on the Titanic (`n`) and how many survied (`n_surv`), and what was the survival percentage (`prop_surv`)?
> Hint 1: Remember "coercion" with `True` and `False` data types?  
> Hint 2: `titanic_data.Age.sum()`

In [ ]:
# Q3: your answer will be tested!
n = None # number of passengers on the the titanic
n_surv = None # number of the passengers survived
prop_surv = n/n_surv # proportion of passengers that survived
Q3 = (n, n_surv,prop_surv) # Assign a `tuple` of three numeric values to Q3

### Q4: What were the proportion of deaths for men, women, and children, respectively?
> Hint 1: Start with `(d.Survived=='Alive')`  
> Hint 2: A proportion is a `.mean()` of $0$'s and $1$'s  
> Hint 3: Remember "coercion" with `True` and `False` data types?  
> Hint 4: Use `.groupby(titanic_data.Man_Woman_or_Child)`

In [ ]:
# Q4: your answer will be tested!
prop_surv_men = None 
prop_surv_women = None 
prop_surv_children= None 
Q4 = (prop_surv_men, prop_surv_women, prop_surv_children) # Assign a `tuple` of three `float`s to Q3
# provide 3 decimal places rounding up

### Q5: What was the proportion of deaths for passengers between 25-40 years of age?
> Hint: Assume "between" is inclusive so that you use `>=` and `<=`.

In [ ]:
# Q5: your answer will be tested!
Q5 = None # Assign a `float` numeric value to Q5
# provide 3 decimal places rounding up

### Q6: What was the proportion of deaths for men, women, and children among passengers who paid more than 50 British pounds for their tickets?

> Hint: "more than" here is strict so use `>`; and, assume the `Paid` column is in British pounds.

In [ ]:
# Q6: your answer will be tested!
prop_surv_men_richtix = None
prop_surv_women_richtix = None
prop_surv_children_richtix = None
Q6 = (prop_surv_men_richtix, prop_surv_women_richtix, prop_surv_children_richtix) # Assign a `tuple` of three `float`s to Q3
# provide 3 decimal places rounding up

### Q7: Write several sentences interpreting your results for the previous questions.
Provide your written answer in the markdown cell below.
- This will be manually reviewed.

> Answer here...

### Q8: What was the most common job among passengers of the Titanic? 

A. General Labourer  
B. Fireman  
C. Trimmer  
D. Saloon Steward

Write 1-2 sentences explaining the code used to produce your answer in the markdown cell below.
- This will be reviewed manually. 

> Hint 1: the `groupby`, `.size()`, or  and `sort_values()` function would be helpful...  
> Hint 2: or the `value_counts()` would be helpful...  
> Hint 3: https://letmegooglethat.com/?q=how+do+I+sort+a+pandas+data+frame+by+a+column

> Answer here...

In [ ]:
# Q8: your answer will be tested!
Q8 = None # Assign either 'A' or 'B' or 'C' or 'D' to `Q2` instead of `None`
# E.g., Q1 = 'A'

### Q9: Were any of the general labourers on the titanic women? If so, how many?

In [ ]:
# Q9: your answer will be tested!
Q9 = None # Assign an integer value to Q9
# E.g., Q9 = 1

### Q10: What are the names of the passengers with the top 4 most expensive tickets? Did these passengers survive the accident?

Output a table with four rows for this question.
- This will be reviewed manually.

> Hint: use `.head(4)`

### Q11: Write a couple paragraphs paraphrasing the output of the code in the cell below.

Don't spend more than 15 minutes on this.
- This will be reviewed manually.


> Hints:
> - `mean` is the "average"
> - `std` stands for "standard deviation" and measures the spead of the data
> - `min` and `max` are the smallest and largest values, respectively
> - The percentages are "percentiles"; so, e.g., the 50th percentile is the "median"

In [ ]:
d.groupby('Man_Woman_or_Child').describe()

> Answer here...

# Tutorial Preparation

Your ***Tutorial Assignment*** this week is the following:

> Use "boolean indexing" and the `.sum()` and other "aggregation functions" along with `.groupby()` to provide some interesting tidbits about the `oly12countries.csv` data. As you report your various findings, additionally paraphrase the coding that produced each result. 
> - Do not include any code in your written submission.
> - Include your code as a `.ipynb` notebook along with your written submission.
>    - Annotate your notebook with comments where it's helpful for understanding what you're doing.

***You will not have enough time to fully complete this assignment in tutorial; so, you may want to get started early, especially now while you have some coding ideas fresh in your mind.***

In [ ]:
pd.read_csv('oly12countries.csv')